.movies-list {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 37px;
  grid-template-columns: repeat(auto-fit,364px);
  margin: 70px auto 30px;
  justify-content: center;
}

@media screen and (max-width: 768px){
.movies-list {
  grid-template-columns: repeat(auto-fit,339px);
}
}

@media screen and (max-width: 450px){
.movies-list {
  margin: 63px auto 30px;
  grid-template-columns: repeat(auto-fit,300px);
}
}