.btn-content {
  margin: 50px 0 80px;
  padding: 0 70px;
}

.btn-content__btn-more {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  background: #f4f4f4;
  border-radius: 6px;
  width: 100%;
  height: 36px;
  border: none;
}

.btn-content__btn-more:hover {
  cursor: pointer;
  opacity: 0.3;
  transition: opacity linear 0.5s;
}

@media screen and (max-width: 768px) {
  .btn-content {
    padding: 0 30px;
  }
}

@media screen and (max-width: 450px) {
  .btn-content {
    padding: 0 10px;
  }
}
