.nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-self: center;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.nav__list-item {
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 10px 23px;
  transition: background-color linear 0.3s;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.nav__list-item:hover {
  background-color: #e2e2e2;
}

@media screen and (max-width: 620px) {
  .nav__list {
    gap: 6px;
  }
  .nav__link {
    font-size: 10px;
  }
  .nav__list-item {
    background-color: #e8e8e8;
    border-radius: 8px;
    padding: 5px 20px;
  }
}
